extends layout_admin
block content
	include nav
		div(id="container")
			form(method="post" action="")
				div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")					
					input(class="" placeholder="Ingrese el número de cédula" required)
					br
				button(class="mdl-button mdl-js-button mdl-button--primary" type="submit") BUSCAR