doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.11.2.min.js')
    script(type='text/javascript' src='/javascripts/admin_usuarios.js')
  body
    block content
