div(class="mdl-layout mdl-js-layout mdl-layout--fixed-header")
	header(class="mdl-layout__header")
		div(class="mdl-layout__header-row")
			span(class="mdl-layout-title") Adminstrador PubliDoc
			div(class="mdl-layout-spacer")
			nav(class="mdl-navigation mdl-layout--large-screen-only")
				a(class="mdl-navigation__link" href="")= nombre_usuario
				a(class="mdl-navigation__link" href="admin/cerrar_session") Cerrar Sesión
	div(class="mdl-layout__drawer")
		span(class="mdl-layout-title") Menu
		nav(class="mdl-navigation")
			a(class="mdl-navigation__link" href="") Usuarios
			a(class="mdl-navigation__link" href="") Denuncias
				a(class="mdl-navigation__link" href="perfil") Denuncias a Usuario
				a(class="mdl-navigation__link" href="") Denuncias a publicaciones								
			a(class="mdl-navigation__link" href="admin/cerrar_session") Cerrar Sesión
	main(class="mdl-layout__content")
		div(class="page-content")